.MuiButton-root {
  --height: 40px;
  --padding-inline: 24px;
  --gap: 8px;
  --border-radius: 0px;
  --box-shadow: none;
  --background: transparent;
  --color: inherit;
  --icon-size: 18px;
  --outline: none;
  --outline-offset: 2px;

  display: inline-flex;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* We disable the focus ring for mouse, touch and keyboard users. */
  outline: 0;
  border: 0;
  margin: 0; /* Remove the margin in Safari */
  border-radius: 0;
  padding: 0; /* Remove the padding in Firefox */
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none; /* Reset */
  -webkit-appearance: none; /* Reset */
  text-decoration: none;
  /* So we take precedent over the style of a native <a /> element. */
  color: var(--color);
  height: var(--height);
  padding-inline: var(--padding-inline);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--background);
  font: var(--md-ref-typescale-label-large);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  outline: var(--outline);
  outline-offset: var(--outline-offset);

  &:focus-visible {
    --outline: var(--md-sys-state-focus-indicator-thickness) solid
      var(--md-sys-color-secondary);
  }

  &:disabled {
    pointer-events: none; /* Disable link interactions */
    cursor: default;
  }
}

.MuiButton-root::-moz-focus-inner {
  border-style: none; /* Remove Firefox dotted outline. */
}

@media print {
  .MuiButton-root {
    color-adjust: exact;
  }
}

.MuiButton-elevated {
  --border-radius: var(--md-sys-shape-corner-full);
  --height: 40px;
  --box-shadow: var(--md-sys-elevation-level1);
  --background: var(--md-sys-color-surface-container-low);
  --color: var(--md-sys-color-primary);

  &:hover {
    --box-shadow: var(--md-sys-elevation-level2);
    --background: color-mix(
      in srgb,
      var(--md-sys-color-surface-container-low),
      var(--md-sys-color-primary)
        calc(var(--md-sys-state-hover-state-layer-opacity) * 100%)
    );
  }

  &:focus-visible {
    --box-shadow: var(--md-sys-elevation-level1);
    --outline: var(--md-sys-state-focus-indicator-thickness) solid
      var(--md-sys-color-secondary);
    --background: color-mix(
      in srgb,
      var(--md-sys-color-surface-container-low),
      var(--md-sys-color-primary)
        calc(var(--md-sys-state-focus-state-layer-opacity) * 100%)
    );
  }

  &:active {
    --box-shadow: var(--md-sys-elevation-level1);
    --background: color-mix(
      in srgb,
      var(--md-sys-color-surface-container-low),
      var(--md-sys-color-primary)
        calc(var(--md-sys-state-focus-state-layer-opacity) * 100%)
    );
  }

  &:disabled {
    --color: color-mix(
      in srgb,
      var(--md-sys-color-on-surface) 38%,
      transparent
    );
    --background: color-mix(
      in srgb,
      var(--md-sys-color-on-surface) 12%,
      transparent
    );
    --box-shadow: var(--md-sys-elevation-level0);
  }
}

.MuiButton-filled {
  --border-radius: var(--md-sys-shape-corner-full);
  --height: 40px;
  --box-shadow: var(--md-sys-elevation-level0);
  --background: var(--md-sys-color-primary);
  --color: var(--md-sys-color-on-primary);

  &:hover {
    --box-shadow: var(--md-sys-elevation-level1);
    --background: color-mix(
      in srgb,
      var(--md-sys-color-primary),
      var(--md-sys-color-on-primary)
        calc(var(--md-sys-state-hover-state-layer-opacity) * 100%)
    );
  }

  &:focus-visible {
    --box-shadow: var(--md-sys-elevation-level0);
    --outline: var(--md-sys-state-focus-indicator-thickness) solid
      var(--md-sys-color-secondary);
    --background: color-mix(
      in srgb,
      var(--md-sys-color-primary),
      var(--md-sys-color-on-primary)
        calc(var(--md-sys-state-focus-state-layer-opacity) * 100%)
    );
  }

  &:active {
    --box-shadow: var(--md-sys-elevation-level0);
    --background: color-mix(
      in srgb,
      var(--md-sys-color-primary),
      var(--md-sys-color-on-primary)
        calc(var(--md-sys-state-pressed-state-layer-opacity) * 100%)
    );
  }

  &:disabled {
    --color: color-mix(
      in srgb,
      var(--md-sys-color-on-surface) 38%,
      transparent
    );
    --background: color-mix(
      in srgb,
      var(--md-sys-color-on-surface) 12%,
      transparent
    );
    --box-shadow: var(--md-sys-elevation-level0);
  }
}

.MuiButton-startIcon,
.MuiButton-endIcon {
  font-size: var(--icon-size);

  & svg {
    font-size: var(--icon-size);
  }
}
