/* Slots */
.MuiButton-root {
  height: var(--md-comp-button-height, var(--md-ref-spacing-8));
  padding-inline: var(--md-comp-button-padding-inline, var(--md-ref-spacing-6));
  gap: var(--md-comp-button-gap, var(--md-ref-spacing-2));
  border-radius: var(--md-comp-button-corner, var(--md-sys-shape-corner-full));
  box-shadow: none;
  background: transparent;
  color: inherit;
  outline: none;
  outline-offset: 2px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  transition: var(--md-sys-motion-easing-standard)
    var(--md-sys-motion-duration-medium1);
  -webkit-tap-highlight-color: transparent;
  margin: 0; /* Remove the margin in Safari */
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none; /* Reset */
  -webkit-appearance: none; /* Reset */
  text-decoration: none;
  /* So we take precedent over the style of a native <a /> element. */

  font-size: var(
    --md-comp-button-font-size,
    var(--md-sys-typescale-label-large-size)
  );
  font-family: var(--md-sys-typescale-label-large-font);
  font-weight: var(--md-sys-typescale-label-large-weight);
  line-height: var(--md-sys-typescale-label-large-line-height);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);

  &:focus-visible {
    outline: var(--md-sys-state-focus-indicator-thickness) solid
      var(--md-sys-color-secondary);
  }

  &:disabled {
    pointer-events: none; /* Disable link interactions */
    cursor: default;
  }
}

.MuiButton-root::-moz-focus-inner {
  border-style: none; /* Remove Firefox dotted outline. */
}

@media print {
  .MuiButton-root {
    color-adjust: exact;
  }
}

.MuiButton-startIcon,
.MuiButton-endIcon {
  font-size: 18px;

  & svg:not([class]) {
    font-size: inherit;
    width: 1em;
    height: 1em;
  }
}

/* Variants ===================================================== */

.MuiButton-elevated {
  box-shadow: var(
    --md-comp-button-elevated-shadow,
    var(--md-sys-elevation-level1)
  );
  color: var(--md-comp-button-elevated-color, var(--md-sys-color-primary));
  background: var(
    --md-comp-button-elevated-background,
    var(--md-sys-color-surface-container-low)
  );

  &:hover {
    box-shadow: var(
      --md-comp-button-elevated-hover-shadow,
      var(--md-sys-elevation-level2)
    );
    background: var(
      --md-comp-button-elevated-hover-background,
      color-mix(
        in srgb,
        var(--md-sys-color-surface-container-low),
        currentColor calc(var(--md-sys-state-hover-state-layer-opacity) * 100%)
      )
    );
  }

  &:focus-visible {
    box-shadow: var(
      --md-comp-button-elevated-focus-shadow,
      var(--md-sys-elevation-level1)
    );
    background: var(
      --md-comp-button-elevated-focus-background,
      color-mix(
        in srgb,
        var(--md-sys-color-surface-container-low),
        currentColor calc(var(--md-sys-state-focus-state-layer-opacity) * 100%)
      )
    );
  }

  &:active {
    box-shadow: var(
      --md-comp-button-elevated-active-shadow,
      var(--md-sys-elevation-level1)
    );
    background: var(
      --md-comp-button-elevated-active-background,
      color-mix(
        in srgb,
        var(--md-sys-color-surface-container-low),
        currentColor
          calc(var(--md-sys-state-pressed-state-layer-opacity) * 100%)
      )
    );
  }

  &:disabled {
    color: var(
      --md-comp-button-elevated-disabled-color,
      color-mix(in srgb, var(--md-sys-color-on-surface) 38%, transparent)
    );
    background: var(
      --md-comp-button-elevated-disabled-background,
      color-mix(in srgb, var(--md-sys-color-on-surface) 12%, transparent)
    );
    box-shadow: var(
      --md-comp-button-elevated-disabled-shadow,
      var(--md-sys-elevation-level0)
    );
  }

  &:where(.MuiButton-error:not(:disabled)) {
    color: var(--md-comp-button-elevated-color, var(--md-sys-color-error));
  }
}

.MuiButton-filled {
  box-shadow: var(
    --md-comp-button-filled-shadow,
    var(--md-sys-elevation-level0)
  );
  background: var(
    --md-comp-button-filled-background,
    var(--md-sys-color-primary)
  );
  color: var(--md-comp-button-filled-color, var(--md-sys-color-on-primary));

  &:hover {
    box-shadow: var(
      --md-comp-button-filled-hover-shadow,
      var(--md-sys-elevation-level1)
    );
    background: var(
      --md-comp-button-filled-hover-background,
      color-mix(
        in srgb,
        var(--md-sys-color-primary),
        currentColor calc(var(--md-sys-state-hover-state-layer-opacity) * 100%)
      )
    );
  }

  &:focus-visible {
    box-shadow: var(
      --md-comp-button-filled-focus-shadow,
      var(--md-sys-elevation-level0)
    );
    background: var(
      --md-comp-button-filled-focus-background,
      color-mix(
        in srgb,
        var(--md-sys-color-primary),
        currentColor calc(var(--md-sys-state-focus-state-layer-opacity) * 100%)
      )
    );
  }

  &:active {
    box-shadow: var(
      --md-comp-button-filled-active-shadow,
      var(--md-sys-elevation-level0)
    );
    background: var(
      --md-comp-button-filled-active-background,
      color-mix(
        in srgb,
        var(--md-sys-color-primary),
        currentColor
          calc(var(--md-sys-state-pressed-state-layer-opacity) * 100%)
      )
    );
  }

  &:disabled {
    color: var(
      --md-comp-button-filled-disabled-color,
      color-mix(in srgb, var(--md-sys-color-on-surface) 38%, transparent)
    );
    background: var(
      --md-comp-button-filled-disabled-background,
      color-mix(in srgb, var(--md-sys-color-on-surface) 12%, transparent)
    );
    box-shadow: var(
      --md-comp-button-filled-disabled-shadow,
      var(--md-sys-elevation-level0)
    );
  }

  &:where(.MuiButton-error:not(:disabled)) {
    background: var(
      --md-comp-button-filled-background,
      var(--md-sys-color-error)
    );
    color: var(--md-comp-button-filled-color, var(--md-sys-color-on-error));

    &:hover {
      background: var(
        --md-comp-button-filled-hover-background,
        color-mix(
          in srgb,
          var(--md-sys-color-error),
          currentColor
            calc(var(--md-sys-state-hover-state-layer-opacity) * 100%)
        )
      );
    }

    &:focus-visible {
      background: var(
        --md-comp-button-filled-focus-background,
        color-mix(
          in srgb,
          var(--md-sys-color-error),
          currentColor
            calc(var(--md-sys-state-focus-state-layer-opacity) * 100%)
        )
      );
    }

    &:active {
      background: var(
        --md-comp-button-filled-active-background,
        color-mix(
          in srgb,
          var(--md-sys-color-error),
          currentColor
            calc(var(--md-sys-state-pressed-state-layer-opacity) * 100%)
        )
      );
    }
  }
}

.MuiButton-filledTonal {
  background: var(
    --md-comp-button-filledTonal-background,
    var(--md-sys-color-secondary-container)
  );
  box-shadow: var(
    --md-comp-button-filledTonal-shadow,
    var(--md-sys-elevation-level0)
  );
  color: var(
    --md-comp-button-filledTonal-color,
    var(--md-sys-color-on-secondary-container)
  );

  &:hover {
    box-shadow: var(
      --md-comp-button-filledTonal-hover-shadow,
      var(--md-sys-elevation-level1)
    );
    background: var(
      --md-comp-button-filledTonal-hover-background,
      color-mix(
        in srgb,
        var(--md-sys-color-secondary-container),
        currentColor calc(var(--md-sys-state-hover-state-layer-opacity) * 100%)
      )
    );
  }

  &:focus-visible {
    box-shadow: var(
      --md-comp-button-filledTonal-focus-shadow,
      var(--md-sys-elevation-level0)
    );
    background: var(
      --md-comp-button-filledTonal-focus-background,
      color-mix(
        in srgb,
        var(--md-sys-color-secondary-container),
        currentColor calc(var(--md-sys-state-focus-state-layer-opacity) * 100%)
      )
    );
  }

  &:active {
    box-shadow: var(
      --md-comp-button-filledTonal-active-shadow,
      var(--md-sys-elevation-level0)
    );
    background: var(
      --md-comp-button-filledTonal-active-background,
      color-mix(
        in srgb,
        var(--md-sys-color-secondary-container),
        currentColor
          calc(var(--md-sys-state-pressed-state-layer-opacity) * 100%)
      )
    );
  }

  &:disabled {
    color: var(
      --md-comp-button-filledTonal-disabled-color,
      color-mix(in srgb, var(--md-sys-color-on-surface) 38%, transparent)
    );
    background: var(
      --md-comp-button-filledTonal-disabled-background,
      color-mix(in srgb, var(--md-sys-color-on-surface) 12%, transparent)
    );
    box-shadow: var(
      --md-comp-button-filledTonal-disabled-shadow,
      var(--md-sys-elevation-level0)
    );
  }

  &:where(.MuiButton-error:not(:disabled)) {
    color: var(--md-comp-button-filledTonal-color, var(--md-sys-color-error));
    background: var(
      --md-comp-button-filledTonal-background,
      var(--md-sys-color-error-container)
    );

    &:hover {
      background: var(
        --md-comp-button-filledTonal-hover-background,
        color-mix(
          in srgb,
          var(--md-sys-color-error-container),
          currentColor
            calc(var(--md-sys-state-hover-state-layer-opacity) * 100%)
        )
      );
    }

    &:focus-visible {
      background: var(
        --md-comp-button-filledTonal-focus-background,
        color-mix(
          in srgb,
          var(--md-sys-color-error-container),
          currentColor
            calc(var(--md-sys-state-focus-state-layer-opacity) * 100%)
        )
      );
    }

    &:active {
      background: var(
        --md-comp-button-filledTonal-active-background,
        color-mix(
          in srgb,
          var(--md-sys-color-error-container),
          currentColor
            calc(var(--md-sys-state-pressed-state-layer-opacity) * 100%)
        )
      );
    }
  }
}

.MuiButton-outlined {
  background: var(--md-comp-button-outlined-background, transparent);
  border-width: var(--md-comp-button-outlined-border-width, 1px);
  border-color: var(
    --md-comp-button-outlined-border-color,
    var(--md-sys-color-outline)
  );
  color: var(--md-comp-button-outlined-color, var(--md-sys-color-primary));

  &:hover {
    background: var(
      --md-comp-button-outlined-hover-background,
      color-mix(
        in srgb,
        transparent,
        currentColor calc(var(--md-sys-state-hover-state-layer-opacity) * 100%)
      )
    );
  }

  &:focus-visible {
    background: var(
      --md-comp-button-outlined-focus-background,
      color-mix(
        in srgb,
        transparent,
        currentColor calc(var(--md-sys-state-focus-state-layer-opacity) * 100%)
      )
    );
    border-color: var(
      --md-comp-button-outlined-focus-border-color,
      var(--md-sys-color-primary)
    );
  }

  &:active {
    background: var(
      --md-comp-button-outlined-active-background,
      color-mix(
        in srgb,
        transparent,
        currentColor
          calc(var(--md-sys-state-pressed-state-layer-opacity) * 100%)
      )
    );
    border-color: var(
      --md-comp-button-outlined-active-border-color,
      var(--md-sys-color-outline)
    );
  }

  &:disabled {
    color: var(
      --md-comp-button-outlined-disabled-color,
      color-mix(in srgb, var(--md-sys-color-on-surface) 38%, transparent)
    );
    background: var(
      --md-comp-button-outlined-disabled-background,
      color-mix(in srgb, var(--md-sys-color-on-surface) 12%, transparent)
    );
    box-shadow: var(
      --md-comp-button-outlined-disabled-shadow,
      var(--md-sys-elevation-level0)
    );
    border-color: var(
      --md-comp-button-outlined-disabled-border-color,
      color-mix(in srgb, var(--md-sys-color-outline) 12%, transparent)
    );
  }

  &:where(.MuiButton-error:not(:disabled)) {
    color: var(--md-comp-button-outlined-color, var(--md-sys-color-error));
    border-color: var(
      --md-comp-button-outlined-border-color,
      var(--md-sys-color-error)
    );

    &:hover {
      background: var(
        --md-comp-button-outlined-hover-background,
        color-mix(
          in srgb,
          transparent,
          var(--md-sys-color-error)
            calc(var(--md-sys-state-hover-state-layer-opacity) * 100%)
        )
      );
      border-color: var(
        --md-comp-button-outlined-hover-border-color,
        var(--md-sys-color-error)
      );
    }

    &:focus-visible {
      background: var(
        --md-comp-button-outlined-focus-background,
        color-mix(
          in srgb,
          transparent,
          var(--md-sys-color-error)
            calc(var(--md-sys-state-focus-state-layer-opacity) * 100%)
        )
      );
      border-color: var(
        --md-comp-button-outlined-focus-border-color,
        var(--md-sys-color-error)
      );
    }

    &:active {
      background: var(
        --md-comp-button-outlined-active-background,
        color-mix(
          in srgb,
          transparent,
          var(--md-sys-color-error)
            calc(var(--md-sys-state-pressed-state-layer-opacity) * 100%)
        )
      );
      border-color: var(
        --md-comp-button-outlined-active-border-color,
        var(--md-sys-color-error)
      );
    }
  }
}

.MuiButton-text {
  background: var(--md-comp-button-text-background, transparent);
  color: var(--md-comp-button-text-color, var(--md-sys-color-primary));

  &:hover {
    background: var(
      --md-comp-button-text-hover-background,
      color-mix(
        in srgb,
        transparent,
        currentColor calc(var(--md-sys-state-hover-state-layer-opacity) * 100%)
      )
    );
  }

  &:focus-visible {
    background: var(
      --md-comp-button-text-focus-background,
      color-mix(
        in srgb,
        transparent,
        currentColor calc(var(--md-sys-state-focus-state-layer-opacity) * 100%)
      )
    );
  }

  &:active {
    background: var(
      --md-comp-button-text-active-background,
      color-mix(
        in srgb,
        transparent,
        currentColor
          calc(var(--md-sys-state-pressed-state-layer-opacity) * 100%)
      )
    );
  }

  &:disabled {
    color: var(
      --md-comp-button-text-disabled-color,
      color-mix(in srgb, var(--md-sys-color-on-surface) 38%, transparent)
    );
    background: var(
      --md-comp-button-text-disabled-background,
      color-mix(in srgb, var(--md-sys-color-on-surface) 12%, transparent)
    );
    box-shadow: var(
      --md-comp-button-text-disabled-shadow,
      var(--md-sys-elevation-level0)
    );
  }

  &:where(.MuiButton-error:not(:disabled)) {
    color: var(--md-comp-button-text-color, var(--md-sys-color-error));
  }
}

/* Sizes ===================================================== */

.MuiButton-small {
  height: var(--md-comp-button-small-height, var(--md-ref-spacing-7));
  padding-inline: var(
    --md-comp-button-small-padding-inline,
    var(--md-ref-spacing-5)
  );
  gap: var(--md-comp-button-small-gap, var(--md-ref-spacing-2));
  font-size: var(
    --md-comp-button-small-font-size,
    var(--md-sys-typescale-label-medium-size)
  );
  line-height: var(--md-sys-typescale-label-medium-line-height);
  letter-spacing: var(--md-sys-typescale-label-medium-tracking);
}

.MuiButton-large {
  height: var(--md-comp-button-large-height, var(--md-ref-spacing-9));
  padding-inline: var(
    --md-comp-button-large-padding-inline,
    var(--md-ref-spacing-7)
  );
  gap: var(--md-comp-button-large-gap, var(--md-ref-spacing-2));
  font-size: var(
    --md-comp-button-large-font-size,
    var(--md-ref-typeface-size-4)
  );
}
