:root {
  /* 
  Typescale tokens
  https://m3.material.io/styles/typography/type-scale-tokens
  */

  --md-ref-typeface-brand: var(--font-geist-sans);
  --md-ref-typeface-plain: var(--font-geist-sans);

  --md-ref-typeface-weight-medium: 500;
  --md-ref-typeface-weight-regular: 400;

  /*
  Custom font-size scale
  */
  --md-ref-typeface-size-1: 11px; /* label-small */
  --md-ref-typeface-size-2: 12px; /* label-medium */
  --md-ref-typeface-size-3: 14px; /* label-large, body-small */
  --md-ref-typeface-size-4: 16px; /* body-medium */
  --md-ref-typeface-size-5: 22px; /* body-large, title-small */
  --md-ref-typeface-size-6: 24px; /* title-medium */
  --md-ref-typeface-size-7: 28px; /* title-large */
  --md-ref-typeface-size-8: 32px; /* headline-small */
  --md-ref-typeface-size-9: 45px; /* headline-medium */
  --md-ref-typeface-size-10: 57px; /* headline-large */
  --md-ref-typeface-size-11: 64px; /* display-small */
  --md-ref-typeface-size-12: 80px; /* display-medium */
  --md-ref-typeface-size-13: 96px; /* display-large */

  /*
  Custom line-height scale based on typescale variables
  */
  --md-ref-typeface-line-height-1: 16px; /* label-small, label-medium, body-small */
  --md-ref-typeface-line-height-2: 20px; /* label-large, title-small */
  --md-ref-typeface-line-height-3: 24px; /* body-medium, body-large, title-medium */
  --md-ref-typeface-line-height-4: 28px; /* title-large */
  --md-ref-typeface-line-height-5: 32px; /* headline-small */
  --md-ref-typeface-line-height-6: 36px; /* headline-medium */
  --md-ref-typeface-line-height-7: 40px; /* headline-large */
  --md-ref-typeface-line-height-8: 44px; /* display-small */
  --md-ref-typeface-line-height-9: 52px; /* display-medium */
  --md-ref-typeface-line-height-10: 64px; /* display-large */

  /*
  Custom letter-spacing (tracking) scale based on typescale variables
  */
  --md-ref-typeface-tracking-0: 0px;
  --md-ref-typeface-tracking-1: 0.1px;
  --md-ref-typeface-tracking-2: 0.15px;
  --md-ref-typeface-tracking-3: 0.25px;
  --md-ref-typeface-tracking-4: 0.4px;
  --md-ref-typeface-tracking-5: 0.5px;

  --md-sys-typescale-display-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-large-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-large-size: var(--md-ref-typeface-size-10);
  --md-sys-typescale-display-large-tracking: var(--md-ref-typeface-tracking-0);
  --md-sys-typescale-display-large-line-height: var(
    --md-ref-typeface-line-height-10
  );
  --md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-medium-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-medium-size: var(--md-ref-typeface-size-9);
  --md-sys-typescale-display-medium-tracking: var(--md-ref-typeface-tracking-0);
  --md-sys-typescale-display-medium-line-height: var(
    --md-ref-typeface-line-height-9
  );
  --md-sys-typescale-display-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-small-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-small-size: var(--md-ref-typeface-size-8);
  --md-sys-typescale-display-small-tracking: var(--md-ref-typeface-tracking-0);
  --md-sys-typescale-display-small-line-height: var(
    --md-ref-typeface-line-height-8
  );
  --md-sys-typescale-headline-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-large-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-large-size: var(--md-ref-typeface-size-8);
  --md-sys-typescale-headline-large-tracking: var(--md-ref-typeface-tracking-0);
  --md-sys-typescale-headline-large-line-height: var(
    --md-ref-typeface-line-height-7
  );
  --md-sys-typescale-headline-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-medium-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-medium-size: var(--md-ref-typeface-size-7);
  --md-sys-typescale-headline-medium-tracking: var(
    --md-ref-typeface-tracking-0
  );
  --md-sys-typescale-headline-medium-line-height: var(
    --md-ref-typeface-line-height-6
  );
  --md-sys-typescale-headline-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-small-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-small-size: var(--md-ref-typeface-size-6);
  --md-sys-typescale-headline-small-tracking: var(--md-ref-typeface-tracking-0);
  --md-sys-typescale-headline-small-line-height: var(
    --md-ref-typeface-line-height-5
  );
  --md-sys-typescale-title-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-title-large-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-title-large-size: var(--md-ref-typeface-size-5);
  --md-sys-typescale-title-large-tracking: var(--md-ref-typeface-tracking-0);
  --md-sys-typescale-title-large-line-height: var(
    --md-ref-typeface-line-height-4
  );
  --md-sys-typescale-title-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-medium-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-title-medium-size: var(--md-ref-typeface-size-6);
  --md-sys-typescale-title-medium-tracking: var(--md-ref-typeface-tracking-2);
  --md-sys-typescale-title-medium-line-height: var(
    --md-ref-typeface-line-height-3
  );
  --md-sys-typescale-title-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-small-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-title-small-size: var(--md-ref-typeface-size-3);
  --md-sys-typescale-title-small-tracking: var(--md-ref-typeface-tracking-1);
  --md-sys-typescale-title-small-line-height: var(
    --md-ref-typeface-line-height-2
  );
  --md-sys-typescale-body-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-large-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-body-large-size: var(--md-ref-typeface-size-4);
  --md-sys-typescale-body-large-tracking: var(--md-ref-typeface-tracking-5);
  --md-sys-typescale-body-large-line-height: var(
    --md-ref-typeface-line-height-3
  );
  --md-sys-typescale-body-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-medium-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-body-medium-size: var(--md-ref-typeface-size-3);
  --md-sys-typescale-body-medium-tracking: var(--md-ref-typeface-tracking-3);
  --md-sys-typescale-body-medium-line-height: var(
    --md-ref-typeface-line-height-2
  );
  --md-sys-typescale-body-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-small-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-body-small-size: var(--md-ref-typeface-size-2);
  --md-sys-typescale-body-small-tracking: var(--md-ref-typeface-tracking-4);
  --md-sys-typescale-body-small-line-height: var(
    --md-ref-typeface-line-height-1
  );
  --md-sys-typescale-label-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-large-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-label-large-size: var(--md-ref-typeface-size-3);
  --md-sys-typescale-label-large-tracking: var(--md-ref-typeface-tracking-1);
  --md-sys-typescale-label-large-line-height: var(
    --md-ref-typeface-line-height-2
  );
  --md-sys-typescale-label-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-medium-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-label-medium-size: var(--md-ref-typeface-size-2);
  --md-sys-typescale-label-medium-tracking: var(--md-ref-typeface-tracking-5);
  --md-sys-typescale-label-medium-line-height: var(
    --md-ref-typeface-line-height-1
  );
  --md-sys-typescale-label-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-small-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-label-small-size: var(--md-ref-typeface-size-1);
  --md-sys-typescale-label-small-tracking: var(--md-ref-typeface-tracking-5);
  --md-sys-typescale-label-small-line-height: var(
    --md-ref-typeface-line-height-1
  );

  /*
  Shape tokens
  https://m3.material.io/styles/shape/shape-scale-tokens
  */
  --md-sys-shape-corner-full: 100px;
  --md-sys-shape-corner-extra-large-top: var(--md-sys-shape-corner-extra-large)
    var(--md-sys-shape-corner-extra-large) 0 0;
  --md-sys-shape-corner-extra-large: 28px;
  --md-sys-shape-corner-large-top: var(--md-sys-shape-corner-large)
    var(--md-sys-shape-corner-large) 0 0;
  --md-sys-shape-corner-large-end: 0 var(--md-sys-shape-corner-large)
    var(--md-sys-shape-corner-large) 0;
  --md-sys-shape-corner-large-start: var(--md-sys-shape-corner-large) 0
    var(--md-sys-shape-corner-large) 0;
  --md-sys-shape-corner-large: 16px;
  --md-sys-shape-corner-medium: 12px;
  --md-sys-shape-corner-small: 8px;
  --md-sys-shape-corner-extra-small-top: var(--md-sys-shape-corner-extra-small)
    var(--md-sys-shape-corner-extra-small) 0 0;
  --md-sys-shape-corner-extra-small: 4px;
  --md-sys-shape-corner-none: 0px;

  /*
  Elevation
  https://m3.material.io/styles/elevation/tokens
  */
  --md-sys-elevation-level1: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  --md-sys-elevation-level2: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  --md-sys-elevation-level3: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  --md-sys-elevation-level4: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  --md-sys-elevation-level5: rgba(0, 0, 0, 0.2) 0px 7px 8px -4px,
    rgba(0, 0, 0, 0.14) 0px 12px 17px 2px, rgba(0, 0, 0, 0.12) 0px 5px 22px 4px;
  --md-sys-elevation-surface-tint: var(--md-sys-color-primary);

  /*
  Motion
  https://m3.material.io/styles/motion/easing-and-duration/tokens-specs
  */
  --md-ref-motion-duration-short1: 50ms; /* The spec uses `sys` but it makes more sense to be `ref` */
  --md-ref-motion-duration-short2: 100ms;
  --md-ref-motion-duration-short3: 150ms;
  --md-ref-motion-duration-short4: 200ms;
  --md-ref-motion-duration-medium1: 250ms;
  --md-ref-motion-duration-medium2: 300ms;
  --md-ref-motion-duration-medium3: 350ms;
  --md-ref-motion-duration-medium4: 400ms;
  --md-ref-motion-duration-long1: 450ms;
  --md-ref-motion-duration-long2: 500ms;
  --md-ref-motion-duration-long3: 550ms;
  --md-ref-motion-duration-long4: 600ms;
  --md-ref-motion-duration-extra-long1: 700ms;
  --md-ref-motion-duration-extra-long2: 800ms;
  --md-ref-motion-duration-extra-long3: 900ms;
  --md-ref-motion-duration-extra-long4: 1000ms;

  --md-sys-motion-easing-linear: linear;
  --md-sys-motion-easing-emphasized: var(--md-sys-motion-easing-standard);
  --md-sys-motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --md-sys-motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --md-sys-motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --md-sys-motion-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --md-sys-motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);

  /*
  State layers found in component state layers
  */
  --md-sys-state-hover-state-layer-opacity: 0.08;
  --md-sys-state-focus-state-layer-opacity: 0.1;
  --md-sys-state-pressed-state-layer-opacity: 0.1;
  --md-sys-state-focus-indicator-thickness: 3px;
  --md-sys-state-focus-indicator-outer-offset: 2px;

  /*
  Custom spacing scale 
  */
  --md-ref-spacing-1: 0.25rem; /* 4px */
  --md-ref-spacing-2: 0.5rem; /* 8px */
  --md-ref-spacing-3: 0.75rem; /* 12px */
  --md-ref-spacing-4: 1rem; /* 16px */
  --md-ref-spacing-5: 1.25rem; /* 20px */
  --md-ref-spacing-6: 1.5rem; /* 24px */
  --md-ref-spacing-7: 2rem; /* 32px */
  --md-ref-spacing-8: 2.5rem; /* 40px */
  --md-ref-spacing-9: 3rem; /* 48px */
}

:root {
  --md-sys-color-primary: rgb(101 85 143);
  --md-sys-color-surface-tint: rgb(103 80 164);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(234 221 255);
  --md-sys-color-on-primary-container: rgb(33 0 93);
  --md-sys-color-secondary: rgb(98 91 113);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(232 222 248);
  --md-sys-color-on-secondary-container: rgb(29 25 43);
  --md-sys-color-tertiary: rgb(125 82 96);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 216 228);
  --md-sys-color-on-tertiary-container: rgb(49 17 29);
  --md-sys-color-error: rgb(179 38 30);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(249 222 220);
  --md-sys-color-on-error-container: rgb(65 14 11);
  --md-sys-color-background: rgb(254 247 255);
  --md-sys-color-on-background: rgb(29 27 32);
  --md-sys-color-surface: rgb(254 247 255);
  --md-sys-color-on-surface: rgb(29 27 32);
  --md-sys-color-surface-variant: rgb(231 224 236);
  --md-sys-color-on-surface-variant: rgb(73 69 79);
  --md-sys-color-outline: rgb(121 116 126);
  --md-sys-color-outline-variant: rgb(202 196 208);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 47 53);
  --md-sys-color-inverse-on-surface: rgb(245 239 247);
  --md-sys-color-inverse-primary: rgb(208 188 255);
  --md-sys-color-primary-fixed: rgb(234 221 255);
  --md-sys-color-on-primary-fixed: rgb(33 0 93);
  --md-sys-color-primary-fixed-dim: rgb(208 188 255);
  --md-sys-color-on-primary-fixed-variant: rgb(79 55 139);
  --md-sys-color-secondary-fixed: rgb(232 222 248);
  --md-sys-color-on-secondary-fixed: rgb(29 25 43);
  --md-sys-color-secondary-fixed-dim: rgb(204 194 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(74 68 88);
  --md-sys-color-tertiary-fixed: rgb(255 216 228);
  --md-sys-color-on-tertiary-fixed: rgb(49 17 29);
  --md-sys-color-tertiary-fixed-dim: rgb(239 184 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(99 59 72);
  --md-sys-color-surface-dim: rgb(222 216 225);
  --md-sys-color-surface-bright: rgb(254 247 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 242 250);
  --md-sys-color-surface-container: rgb(243 237 247);
  --md-sys-color-surface-container-high: rgb(236 230 240);
  --md-sys-color-surface-container-highest: rgb(230 224 233);
}

.dark {
  --md-sys-color-primary: rgb(208 188 254);
  --md-sys-color-surface-tint: rgb(208 188 255);
  --md-sys-color-on-primary: rgb(56 30 114);
  --md-sys-color-primary-container: rgb(79 55 139);
  --md-sys-color-on-primary-container: rgb(234 221 255);
  --md-sys-color-secondary: rgb(204 194 220);
  --md-sys-color-on-secondary: rgb(51 45 65);
  --md-sys-color-secondary-container: rgb(74 68 88);
  --md-sys-color-on-secondary-container: rgb(232 222 248);
  --md-sys-color-tertiary: rgb(239 184 200);
  --md-sys-color-on-tertiary: rgb(73 37 50);
  --md-sys-color-tertiary-container: rgb(99 59 72);
  --md-sys-color-on-tertiary-container: rgb(255 216 228);
  --md-sys-color-error: rgb(242 184 181);
  --md-sys-color-on-error: rgb(96 20 16);
  --md-sys-color-error-container: rgb(140 29 24);
  --md-sys-color-on-error-container: rgb(249 222 220);
  --md-sys-color-background: rgb(20 18 24);
  --md-sys-color-on-background: rgb(230 224 233);
  --md-sys-color-surface: rgb(20 18 24);
  --md-sys-color-on-surface: rgb(230 224 233);
  --md-sys-color-surface-variant: rgb(73 69 79);
  --md-sys-color-on-surface-variant: rgb(202 196 208);
  --md-sys-color-outline: rgb(147 143 153);
  --md-sys-color-outline-variant: rgb(73 69 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 224 233);
  --md-sys-color-inverse-on-surface: rgb(50 47 53);
  --md-sys-color-inverse-primary: rgb(103 80 164);
  --md-sys-color-primary-fixed: rgb(234 221 255);
  --md-sys-color-on-primary-fixed: rgb(33 0 93);
  --md-sys-color-primary-fixed-dim: rgb(208 188 255);
  --md-sys-color-on-primary-fixed-variant: rgb(79 55 139);
  --md-sys-color-secondary-fixed: rgb(232 222 248);
  --md-sys-color-on-secondary-fixed: rgb(29 25 43);
  --md-sys-color-secondary-fixed-dim: rgb(204 194 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(74 68 88);
  --md-sys-color-tertiary-fixed: rgb(255 216 228);
  --md-sys-color-on-tertiary-fixed: rgb(49 17 29);
  --md-sys-color-tertiary-fixed-dim: rgb(239 184 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(99 59 72);
  --md-sys-color-surface-dim: rgb(20 18 24);
  --md-sys-color-surface-bright: rgb(59 56 62);
  --md-sys-color-surface-container-lowest: rgb(15 13 19);
  --md-sys-color-surface-container-low: rgb(29 27 32);
  --md-sys-color-surface-container: rgb(33 31 38);
  --md-sys-color-surface-container-high: rgb(43 41 48);
  --md-sys-color-surface-container-highest: rgb(54 52 59);
}
