:root {
  /* 
  Typescale tokens
  https://m3.material.io/styles/typography/type-scale-tokens
  */

  --md-ref-typeface-brand: var(--font-geist-sans);
  --md-ref-typeface-plain: var(--font-geist-sans);
  --md-ref-typeface-mono: ui-monospace, "Cascadia Code", "Source Code Pro",
    Menlo, Consolas, "DejaVu Sans Mono", monospace;

  --md-ref-typeface-weight-regular: var(--md-ref-font-weight-2);
  --md-ref-typeface-weight-medium: var(--md-ref-font-weight-3);

  /*
  Custom weight scale
  */
  --md-ref-font-weight-1: 300;
  --md-ref-font-weight-2: 400;
  --md-ref-font-weight-3: 500;

  /*
  Custom font-size scale
  */
  --md-ref-font-size-1: 0.6875rem; /* label-small */
  --md-ref-font-size-2: 0.75rem; /* label-medium */
  --md-ref-font-size-3: 0.875rem; /* label-large, body-small */
  --md-ref-font-size-4: 1rem; /* body-medium */
  --md-ref-font-size-5: 1.375rem; /* body-large, title-small */
  --md-ref-font-size-6: 1.5rem; /* title-medium */
  --md-ref-font-size-7: 1.75rem; /* title-large */
  --md-ref-font-size-8: 2rem; /* headline-small */
  --md-ref-font-size-9: 2.8125rem; /* headline-medium */
  --md-ref-font-size-10: 3.5625rem; /* headline-large */
  --md-ref-font-size-11: 4rem; /* display-small */
  --md-ref-font-size-12: 5rem; /* display-medium */
  --md-ref-font-size-13: 6rem; /* display-large */

  /*
  Custom line-height scale based on typescale variables
  */
  --md-ref-line-height-1: 1rem; /* label-small, label-medium, body-small */
  --md-ref-line-height-2: 1.25rem; /* label-large, title-small */
  --md-ref-line-height-3: 1.5rem; /* body-medium, body-large, title-medium */
  --md-ref-line-height-4: 1.75rem; /* title-large */
  --md-ref-line-height-5: 2rem; /* headline-small */
  --md-ref-line-height-6: 2.25rem; /* headline-medium */
  --md-ref-line-height-7: 2.5rem; /* headline-large */
  --md-ref-line-height-8: 2.75rem; /* display-small */
  --md-ref-line-height-9: 3.25rem; /* display-medium */
  --md-ref-line-height-10: 4rem; /* display-large */

  /*
  Custom letter-spacing (tracking) scale based on typescale variables
  */
  --md-ref-tracking-0: 0em;
  --md-ref-tracking-1: 0.00625em;
  --md-ref-tracking-2: 0.009375em;
  --md-ref-tracking-3: 0.015625em;
  --md-ref-tracking-4: 0.025em;
  --md-ref-tracking-5: 0.03125em;

  --md-sys-typescale-display-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-large-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-large-size: var(--md-ref-font-size-10);
  --md-sys-typescale-display-large-tracking: var(--md-ref-tracking-0);
  --md-sys-typescale-display-large-line-height: var(--md-ref-line-height-10);
  --md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-medium-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-medium-size: var(--md-ref-font-size-9);
  --md-sys-typescale-display-medium-tracking: var(--md-ref-tracking-0);
  --md-sys-typescale-display-medium-line-height: var(--md-ref-line-height-9);
  --md-sys-typescale-display-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-small-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-small-size: var(--md-ref-font-size-8);
  --md-sys-typescale-display-small-tracking: var(--md-ref-tracking-0);
  --md-sys-typescale-display-small-line-height: var(--md-ref-line-height-8);
  --md-sys-typescale-headline-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-large-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-large-size: var(--md-ref-font-size-8);
  --md-sys-typescale-headline-large-tracking: var(--md-ref-tracking-0);
  --md-sys-typescale-headline-large-line-height: var(--md-ref-line-height-7);
  --md-sys-typescale-headline-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-medium-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-medium-size: var(--md-ref-font-size-7);
  --md-sys-typescale-headline-medium-tracking: var(--md-ref-tracking-0);
  --md-sys-typescale-headline-medium-line-height: var(--md-ref-line-height-6);
  --md-sys-typescale-headline-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-small-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-small-size: var(--md-ref-font-size-6);
  --md-sys-typescale-headline-small-tracking: var(--md-ref-tracking-0);
  --md-sys-typescale-headline-small-line-height: var(--md-ref-line-height-5);
  --md-sys-typescale-title-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-title-large-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-title-large-size: var(--md-ref-font-size-5);
  --md-sys-typescale-title-large-tracking: var(--md-ref-tracking-0);
  --md-sys-typescale-title-large-line-height: var(--md-ref-line-height-4);
  --md-sys-typescale-title-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-medium-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-title-medium-size: var(--md-ref-font-size-6);
  --md-sys-typescale-title-medium-tracking: var(--md-ref-tracking-2);
  --md-sys-typescale-title-medium-line-height: var(--md-ref-line-height-3);
  --md-sys-typescale-title-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-small-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-title-small-size: var(--md-ref-font-size-3);
  --md-sys-typescale-title-small-tracking: var(--md-ref-tracking-1);
  --md-sys-typescale-title-small-line-height: var(--md-ref-line-height-2);
  --md-sys-typescale-body-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-large-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-body-large-size: var(--md-ref-font-size-4);
  --md-sys-typescale-body-large-tracking: var(--md-ref-tracking-5);
  --md-sys-typescale-body-large-line-height: var(--md-ref-line-height-3);
  --md-sys-typescale-body-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-medium-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-body-medium-size: var(--md-ref-font-size-3);
  --md-sys-typescale-body-medium-tracking: var(--md-ref-tracking-3);
  --md-sys-typescale-body-medium-line-height: var(--md-ref-line-height-2);
  --md-sys-typescale-body-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-small-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-body-small-size: var(--md-ref-font-size-2);
  --md-sys-typescale-body-small-tracking: var(--md-ref-tracking-4);
  --md-sys-typescale-body-small-line-height: var(--md-ref-line-height-1);
  --md-sys-typescale-label-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-large-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-label-large-size: var(--md-ref-font-size-3);
  --md-sys-typescale-label-large-tracking: var(--md-ref-tracking-1);
  --md-sys-typescale-label-large-line-height: var(--md-ref-line-height-2);
  --md-sys-typescale-label-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-medium-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-label-medium-size: var(--md-ref-font-size-2);
  --md-sys-typescale-label-medium-tracking: var(--md-ref-tracking-5);
  --md-sys-typescale-label-medium-line-height: var(--md-ref-line-height-1);
  --md-sys-typescale-label-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-small-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-label-small-size: var(--md-ref-font-size-1);
  --md-sys-typescale-label-small-tracking: var(--md-ref-tracking-5);
  --md-sys-typescale-label-small-line-height: var(--md-ref-line-height-1);

  /*
  Shape tokens
  https://m3.material.io/styles/shape/shape-scale-tokens
  */
  --md-sys-shape-corner-full: 100px;
  --md-sys-shape-corner-extra-large-top: var(--md-sys-shape-corner-extra-large)
    var(--md-sys-shape-corner-extra-large) 0 0;
  --md-sys-shape-corner-extra-large: 28px;
  --md-sys-shape-corner-large-top: var(--md-sys-shape-corner-large)
    var(--md-sys-shape-corner-large) 0 0;
  --md-sys-shape-corner-large-end: 0 var(--md-sys-shape-corner-large)
    var(--md-sys-shape-corner-large) 0;
  --md-sys-shape-corner-large-start: var(--md-sys-shape-corner-large) 0
    var(--md-sys-shape-corner-large) 0;
  --md-sys-shape-corner-large: 16px;
  --md-sys-shape-corner-medium: 12px;
  --md-sys-shape-corner-small: 8px;
  --md-sys-shape-corner-extra-small-top: var(--md-sys-shape-corner-extra-small)
    var(--md-sys-shape-corner-extra-small) 0 0;
  --md-sys-shape-corner-extra-small: 4px;
  --md-sys-shape-corner-none: 0px;

  /*
  Elevation
  https://m3.material.io/styles/elevation/tokens
  */
  --md-sys-elevation-level1: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  --md-sys-elevation-level2: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  --md-sys-elevation-level3: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  --md-sys-elevation-level4: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  --md-sys-elevation-level5: rgba(0, 0, 0, 0.2) 0px 7px 8px -4px,
    rgba(0, 0, 0, 0.14) 0px 12px 17px 2px, rgba(0, 0, 0, 0.12) 0px 5px 22px 4px;
  --md-sys-elevation-surface-tint: var(--md-sys-color-primary);

  /*
  Motion
  https://m3.material.io/styles/motion/easing-and-duration/tokens-specs
  */
  --md-ref-motion-duration-medium: 250ms;

  --md-sys-motion-easing-linear: linear;
  --md-sys-motion-easing-emphasized: var(--md-sys-motion-easing-standard);
  --md-sys-motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --md-sys-motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --md-sys-motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --md-sys-motion-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --md-sys-motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);

  /*
  State layers found in component state layers
  */
  --md-sys-state-hover-state-layer-opacity: 0.08;
  --md-sys-state-focus-state-layer-opacity: 0.1;
  --md-sys-state-pressed-state-layer-opacity: 0.1;
  --md-sys-state-focus-indicator-thickness: 3px;
  --md-sys-state-focus-indicator-outer-offset: 2px;

  /*
  Custom spacing scale 
  */
  --md-ref-spacing-1: 4px;
  --md-ref-spacing-2: 8px;
  --md-ref-spacing-3: 12px;
  --md-ref-spacing-4: 16px;
  --md-ref-spacing-5: 20px;
  --md-ref-spacing-6: 24px;
  --md-ref-spacing-7: 32px;
  --md-ref-spacing-8: 40px;
  --md-ref-spacing-9: 48px;
}

:root {
  --md-sys-color-primary: rgb(101 85 143);
  --md-sys-color-surface-tint: rgb(103 80 164);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(234 221 255);
  --md-sys-color-on-primary-container: rgb(33 0 93);
  --md-sys-color-secondary: rgb(98 91 113);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(232 222 248);
  --md-sys-color-on-secondary-container: rgb(29 25 43);
  --md-sys-color-tertiary: rgb(125 82 96);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 216 228);
  --md-sys-color-on-tertiary-container: rgb(49 17 29);
  --md-sys-color-error: rgb(179 38 30);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(249 222 220);
  --md-sys-color-on-error-container: rgb(65 14 11);
  --md-sys-color-background: rgb(254 247 255);
  --md-sys-color-on-background: rgb(29 27 32);
  --md-sys-color-surface: rgb(254 247 255);
  --md-sys-color-on-surface: rgb(29 27 32);
  --md-sys-color-surface-variant: rgb(231 224 236);
  --md-sys-color-on-surface-variant: rgb(73 69 79);
  --md-sys-color-outline: rgb(121 116 126);
  --md-sys-color-outline-variant: rgb(202 196 208);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 47 53);
  --md-sys-color-inverse-on-surface: rgb(245 239 247);
  --md-sys-color-inverse-primary: rgb(208 188 255);
  --md-sys-color-primary-fixed: rgb(234 221 255);
  --md-sys-color-on-primary-fixed: rgb(33 0 93);
  --md-sys-color-primary-fixed-dim: rgb(208 188 255);
  --md-sys-color-on-primary-fixed-variant: rgb(79 55 139);
  --md-sys-color-secondary-fixed: rgb(232 222 248);
  --md-sys-color-on-secondary-fixed: rgb(29 25 43);
  --md-sys-color-secondary-fixed-dim: rgb(204 194 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(74 68 88);
  --md-sys-color-tertiary-fixed: rgb(255 216 228);
  --md-sys-color-on-tertiary-fixed: rgb(49 17 29);
  --md-sys-color-tertiary-fixed-dim: rgb(239 184 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(99 59 72);
  --md-sys-color-surface-dim: rgb(222 216 225);
  --md-sys-color-surface-bright: rgb(254 247 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 242 250);
  --md-sys-color-surface-container: rgb(243 237 247);
  --md-sys-color-surface-container-high: rgb(236 230 240);
  --md-sys-color-surface-container-highest: rgb(230 224 233);
}

.dark {
  --md-sys-color-primary: rgb(208 188 254);
  --md-sys-color-surface-tint: rgb(208 188 255);
  --md-sys-color-on-primary: rgb(56 30 114);
  --md-sys-color-primary-container: rgb(79 55 139);
  --md-sys-color-on-primary-container: rgb(234 221 255);
  --md-sys-color-secondary: rgb(204 194 220);
  --md-sys-color-on-secondary: rgb(51 45 65);
  --md-sys-color-secondary-container: rgb(74 68 88);
  --md-sys-color-on-secondary-container: rgb(232 222 248);
  --md-sys-color-tertiary: rgb(239 184 200);
  --md-sys-color-on-tertiary: rgb(73 37 50);
  --md-sys-color-tertiary-container: rgb(99 59 72);
  --md-sys-color-on-tertiary-container: rgb(255 216 228);
  --md-sys-color-error: rgb(242 184 181);
  --md-sys-color-on-error: rgb(96 20 16);
  --md-sys-color-error-container: rgb(140 29 24);
  --md-sys-color-on-error-container: rgb(249 222 220);
  --md-sys-color-background: rgb(20 18 24);
  --md-sys-color-on-background: rgb(230 224 233);
  --md-sys-color-surface: rgb(20 18 24);
  --md-sys-color-on-surface: rgb(230 224 233);
  --md-sys-color-surface-variant: rgb(73 69 79);
  --md-sys-color-on-surface-variant: rgb(202 196 208);
  --md-sys-color-outline: rgb(147 143 153);
  --md-sys-color-outline-variant: rgb(73 69 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 224 233);
  --md-sys-color-inverse-on-surface: rgb(50 47 53);
  --md-sys-color-inverse-primary: rgb(103 80 164);
  --md-sys-color-primary-fixed: rgb(234 221 255);
  --md-sys-color-on-primary-fixed: rgb(33 0 93);
  --md-sys-color-primary-fixed-dim: rgb(208 188 255);
  --md-sys-color-on-primary-fixed-variant: rgb(79 55 139);
  --md-sys-color-secondary-fixed: rgb(232 222 248);
  --md-sys-color-on-secondary-fixed: rgb(29 25 43);
  --md-sys-color-secondary-fixed-dim: rgb(204 194 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(74 68 88);
  --md-sys-color-tertiary-fixed: rgb(255 216 228);
  --md-sys-color-on-tertiary-fixed: rgb(49 17 29);
  --md-sys-color-tertiary-fixed-dim: rgb(239 184 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(99 59 72);
  --md-sys-color-surface-dim: rgb(20 18 24);
  --md-sys-color-surface-bright: rgb(59 56 62);
  --md-sys-color-surface-container-lowest: rgb(15 13 19);
  --md-sys-color-surface-container-low: rgb(29 27 32);
  --md-sys-color-surface-container: rgb(33 31 38);
  --md-sys-color-surface-container-high: rgb(43 41 48);
  --md-sys-color-surface-container-highest: rgb(54 52 59);
}
