@layer mui-components {
  .root {
    --color: var(--md-sys-color-on-surface-variant);
    /* ... (rest of the properties remain unchanged) ... */
    font-family: var(--md-sys-typescale-body-large-font);
    font-weight: var(--md-sys-typescale-body-large-weight);
    font-size: var(--md-sys-typescale-body-large-size);
    letter-spacing: var(--md-sys-typescale-body-large-tracking);
    line-height: var(--md-sys-typescale-body-large-line-height);
    /* ... (rest of the properties remain unchanged) ... */
  }

  .root:has(~ input:disabled) {
    --color: var(--i-disabled-color);
  }

  .root:has(~ input:focus),
  .root:has(~ input:not(:placeholder-shown)),
  .root:has(~ input:-webkit-autofill) {
    --color: var(--sys-color-primary);
    --top: calc(var(--label-shrink-top) + var(--label-shrink-line-height) / 2);
    --font-size: var(--label-shrink-font-size);
    --line-height: var(--label-shrink-line-height);
  }
}

@layer mui-components-error {
  :global(.Mui-error) .root {
    color: var(--md-sys-color-error);
  }
}
