@layer mui-components {
  .root {
    --i-padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}

@layer mui-components-disabled {
  .root:has(input:disabled) {
    --i-opacity: 0.38;
    --i-disabled-color: color-mix(
      in srgb,
      var(--sys-color-on-surface) calc(100% * var(--i-opacity)),
      transparent
    );
  }
}
