@layer mui-components {
  .root {
    --_margin-top: 0px;
    --color: currentColor;
    display: flex;
    align-items: center;
    margin-top: var(--_margin-top);
    min-width: var(--_min-width);
    opacity: var(--i-opacity);
    color: var(--color);
  }

  .root:has(> .root) {
    display: contents;
  }

  .root[data-first-child] {
    --_min-width: var(--start-adornment-min-width);
  }

  div:has(> .root[data-first-child]) {
    --padding-left: calc(0.75rem - var(--border-width));
    --_start-adornment-inset: calc(
      var(--start-adornment-min-width, 1.5rem) + var(--gap)
    );
  }

  div:has(> .root[data-last-child]) {
    --padding-right: calc(0.75rem - var(--border-width));
  }
}

@layer mui-components-error {
  .Mui-error .root[data-last-child] {
    --color: var(--md-sys-color-error);
  }
}
