/* Slots */
.MuiButton4-root {
  --height: var(--md-comp-button-height, 40px);
  --padding-inline: var(--md-comp-button-padding-inline, 24px);
  --gap: 8px;
  --border-width: 0px;
  --border-color: transparent;
  --border-radius: 0px;
  --box-shadow: none;
  --background: transparent;
  --color: inherit;
  --icon-size: 18px;
  --outline: none;
  --outline-offset: 2px;

  --state-layer: var(--background);

  display: inline-flex;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* We disable the focus ring for mouse, touch and keyboard users. */
  outline: 0;
  border: var(--border-width) solid var(--border-color);
  margin: 0; /* Remove the margin in Safari */
  border-radius: 0;
  padding: 0; /* Remove the padding in Firefox */
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none; /* Reset */
  -webkit-appearance: none; /* Reset */
  text-decoration: none;
  /* So we take precedent over the style of a native <a /> element. */
  color: var(--color);
  height: var(--height);
  padding-inline: var(--padding-inline);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: color-mix(in srgb, var(--background), var(--state-layer));
  font: var(--md-ref-typescale-label-large);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  outline: var(--outline);
  outline-offset: var(--outline-offset);

  &:hover {
    --state-layer: var(--color)
      calc(var(--md-sys-state-hover-state-layer-opacity) * 100%);
  }

  &:focus-visible {
    --outline: var(--md-sys-state-focus-indicator-thickness) solid
      var(--md-sys-color-secondary);
  }

  &:focus {
    --state-layer: var(--color)
      calc(var(--md-sys-state-focus-state-layer-opacity) * 100%);
  }

  &:active {
    --state-layer: var(--color)
      calc(var(--md-sys-state-pressed-state-layer-opacity) * 100%);
  }

  &:disabled {
    pointer-events: none; /* Disable link interactions */
    cursor: default;
    --color: color-mix(
      in srgb,
      var(--md-sys-color-on-surface) 38%,
      transparent
    );
    --background: color-mix(
      in srgb,
      var(--md-sys-color-on-surface) 12%,
      transparent
    );
    --box-shadow: var(--md-sys-elevation-level0);
  }
}

.MuiButton4-root::-moz-focus-inner {
  border-style: none; /* Remove Firefox dotted outline. */
}

@media print {
  .MuiButton4-root {
    color-adjust: exact;
  }
}

.MuiButton4-startIcon,
.MuiButton4-endIcon {
  font-size: var(--icon-size);

  & svg {
    font-size: var(--icon-size);
  }
}

/* ======================================================== */

/* variants */
.MuiButton4-elevated {
  --border-radius: var(
    --md-comp-button-elevated-corner,
    var(--md-sys-shape-corner-full)
  );
  --box-shadow: var(--md-sys-elevation-level1);
  --color: var(--md-comp-button-elevated-color, var(--md-sys-color-primary));
  --background: var(
    --md-comp-button-elevated-background,
    var(--md-sys-color-surface-container-low)
  );

  &:hover {
    --box-shadow: var(--md-sys-elevation-level2);
  }

  &:focus {
    --box-shadow: var(--md-sys-elevation-level1);
  }

  &:active {
    --box-shadow: var(--md-sys-elevation-level1);
  }
}

.MuiButton4-filled {
  --border-radius: var(--md-sys-shape-corner-full);
  --box-shadow: var(--md-sys-elevation-level0);
  --background: var(--md-sys-color-primary);
  --color: var(--md-sys-color-on-primary);

  &:hover {
    --box-shadow: var(--md-sys-elevation-level1);
  }

  &:focus {
    --box-shadow: var(--md-sys-elevation-level0);
  }

  &:active {
    --box-shadow: var(--md-sys-elevation-level0);
  }
}

.MuiButton4-filledTonal {
  --background: var(--md-sys-color-secondary-container);
  --box-shadow: var(--md-sys-elevation-level0);
  --border-radius: var(--md-sys-shape-corner-full);
  --color: var(--md-sys-color-on-secondary-container);

  &:hover {
    --box-shadow: var(--md-sys-elevation-level1);
  }

  &:focus {
    --box-shadow: var(--md-sys-elevation-level0);
  }

  &:active {
    --box-shadow: var(--md-sys-elevation-level0);
  }
}

.MuiButton4-outlined {
  --border-radius: var(--md-sys-shape-corner-full);
  --border-width: 1px;
  --border-color: var(--md-sys-color-outline);
  --color: var(--md-sys-color-primary);

  &:focus {
    --border-color: var(--color);
  }

  &:active {
    --border-color: var(--md-sys-color-outline);
  }
}

.MuiButton4-text {
  --border-radius: var(--md-sys-shape-corner-full);
  --color: var(--md-sys-color-primary);
}
